src/main/java/ir/parsianinsurance/he/interfaces/webservice/client/sanam/BitartsWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://implementation.service.parsian.bitarts.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://implementation.service.parsian.bitarts.com/" name="BitartsWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://implementation.service.parsian.bitarts.com/" schemaLocation="http://172.16.0.28:8090/services/BitartsWebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="isSuspended">
<part name="parameters" element="tns:isSuspended"></part>
</message>
<message name="isSuspendedResponse">
<part name="parameters" element="tns:isSuspendedResponse"></part>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"></part>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"></part>
</message>
<message name="getDebtOfPolicy">
<part name="parameters" element="tns:getDebtOfPolicy"></part>
</message>
<message name="getDebtOfPolicyResponse">
<part name="parameters" element="tns:getDebtOfPolicyResponse"></part>
</message>
<message name="vaziatVosoolShenase">
<part name="parameters" element="tns:vaziatVosoolShenase"></part>
</message>
<message name="vaziatVosoolShenaseResponse">
<part name="parameters" element="tns:vaziatVosoolShenaseResponse"></part>
</message>
<message name="estelamBashgah">
<part name="parameters" element="tns:estelamBashgah"></part>
</message>
<message name="estelamBashgahResponse">
<part name="parameters" element="tns:estelamBashgahResponse"></part>
</message>
<message name="generateCustomerNumber">
<part name="parameters" element="tns:generateCustomerNumber"></part>
</message>
<message name="generateCustomerNumberResponse">
<part name="parameters" element="tns:generateCustomerNumberResponse"></part>
</message>
<message name="getNamayandehAuthorized">
<part name="parameters" element="tns:getNamayandehAuthorized"></part>
</message>
<message name="getNamayandehAuthorizedResponse">
<part name="parameters" element="tns:getNamayandehAuthorizedResponse"></part>
</message>
<message name="getNamayandehAuthorizedJSON">
<part name="parameters" element="tns:getNamayandehAuthorizedJSON"></part>
</message>
<message name="getNamayandehAuthorizedJSONResponse">
<part name="parameters" element="tns:getNamayandehAuthorizedJSONResponse"></part>
</message>
<message name="deleteAghsat">
<part name="parameters" element="tns:deleteAghsat"></part>
</message>
<message name="deleteAghsatResponse">
<part name="parameters" element="tns:deleteAghsatResponse"></part>
</message>
<message name="createDebitJSON">
<part name="parameters" element="tns:createDebitJSON"></part>
</message>
<message name="createDebitJSONResponse">
<part name="parameters" element="tns:createDebitJSONResponse"></part>
</message>
<message name="createCreditJSON">
<part name="parameters" element="tns:createCreditJSON"></part>
</message>
<message name="createCreditJSONResponse">
<part name="parameters" element="tns:createCreditJSONResponse"></part>
</message>
<message name="payByAzMahaleTablighat">
<part name="parameters" element="tns:payByAzMahaleTablighat"></part>
</message>
<message name="payByAzMahaleTablighatResponse">
<part name="parameters" element="tns:payByAzMahaleTablighatResponse"></part>
</message>
<message name="getGhestForUSSDSanam">
<part name="parameters" element="tns:getGhestForUSSDSanam"></part>
</message>
<message name="getGhestForUSSDSanamResponse">
<part name="parameters" element="tns:getGhestForUSSDSanamResponse"></part>
</message>
<message name="sanadRegisterJSON">
<part name="parameters" element="tns:sanadRegisterJSON"></part>
</message>
<message name="sanadRegisterJSONResponse">
<part name="parameters" element="tns:sanadRegisterJSONResponse"></part>
</message>
<message name="payByHesabFiMaBeyn">
<part name="parameters" element="tns:payByHesabFiMaBeyn"></part>
</message>
<message name="payByHesabFiMaBeynResponse">
<part name="parameters" element="tns:payByHesabFiMaBeynResponse"></part>
</message>
<message name="updateShomareBimename">
<part name="parameters" element="tns:updateShomareBimename"></part>
</message>
<message name="updateShomareBimenameResponse">
<part name="parameters" element="tns:updateShomareBimenameResponse"></part>
</message>
<message name="amountOfShenasePardakhtSanam">
<part name="parameters" element="tns:amountOfShenasePardakhtSanam"></part>
</message>
<message name="amountOfShenasePardakhtSanamResponse">
<part name="parameters" element="tns:amountOfShenasePardakhtSanamResponse"></part>
</message>
<message name="checkForTalighKhesarat">
<part name="parameters" element="tns:checkForTalighKhesarat"></part>
</message>
<message name="checkForTalighKhesaratResponse">
<part name="parameters" element="tns:checkForTalighKhesaratResponse"></part>
</message>
<message name="createRecoveryForVehicle">
<part name="parameters" element="tns:createRecoveryForVehicle"></part>
</message>
<message name="createRecoveryForVehicleResponse">
<part name="parameters" element="tns:createRecoveryForVehicleResponse"></part>
</message>
<message name="getSoratVaziateMaliBimename">
<part name="parameters" element="tns:getSoratVaziateMaliBimename"></part>
</message>
<message name="getSoratVaziateMaliBimenameResponse">
<part name="parameters" element="tns:getSoratVaziateMaliBimenameResponse"></part>
</message>
<message name="queryRemainingWithIdentifier">
<part name="parameters" element="tns:queryRemainingWithIdentifier"></part>
</message>
<message name="queryRemainingWithIdentifierResponse">
<part name="parameters" element="tns:queryRemainingWithIdentifierResponse"></part>
</message>
<message name="queryRemainingWithTraceCode">
<part name="parameters" element="tns:queryRemainingWithTraceCode"></part>
</message>
<message name="queryRemainingWithTraceCodeResponse">
<part name="parameters" element="tns:queryRemainingWithTraceCodeResponse"></part>
</message>
<message name="createHavaleKhesarat">
<part name="parameters" element="tns:createHavaleKhesarat"></part>
</message>
<message name="createHavaleKhesaratResponse">
<part name="parameters" element="tns:createHavaleKhesaratResponse"></part>
</message>
<message name="payByHesabFiMaBeynForElhaghie">
<part name="parameters" element="tns:payByHesabFiMaBeynForElhaghie"></part>
</message>
<message name="payByHesabFiMaBeynForElhaghieResponse">
<part name="parameters" element="tns:payByHesabFiMaBeynForElhaghieResponse"></part>
</message>
<message name="amountOfShenasePardakht">
<part name="parameters" element="tns:amountOfShenasePardakht"></part>
</message>
<message name="amountOfShenasePardakhtResponse">
<part name="parameters" element="tns:amountOfShenasePardakhtResponse"></part>
</message>
<message name="queryRemainingWithShenase">
<part name="parameters" element="tns:queryRemainingWithShenase"></part>
</message>
<message name="queryRemainingWithShenaseResponse">
<part name="parameters" element="tns:queryRemainingWithShenaseResponse"></part>
</message>
<message name="payByCash">
<part name="parameters" element="tns:payByCash"></part>
</message>
<message name="payByCashResponse">
<part name="parameters" element="tns:payByCashResponse"></part>
</message>
<message name="payByFish">
<part name="parameters" element="tns:payByFish"></part>
</message>
<message name="payByFishResponse">
<part name="parameters" element="tns:payByFishResponse"></part>
</message>
<message name="payByPOS">
<part name="parameters" element="tns:payByPOS"></part>
</message>
<message name="payByPOSResponse">
<part name="parameters" element="tns:payByPOSResponse"></part>
</message>
<message name="payByCheck">
<part name="parameters" element="tns:payByCheck"></part>
</message>
<message name="payByCheckResponse">
<part name="parameters" element="tns:payByCheckResponse"></part>
</message>
<message name="estelamBedehi">
<part name="parameters" element="tns:estelamBedehi"></part>
</message>
<message name="estelamBedehiResponse">
<part name="parameters" element="tns:estelamBedehiResponse"></part>
</message>
<message name="payByInternet">
<part name="parameters" element="tns:payByInternet"></part>
</message>
<message name="payByInternetResponse">
<part name="parameters" element="tns:payByInternetResponse"></part>
</message>
<message name="sanadRegister">
<part name="parameters" element="tns:sanadRegister"></part>
</message>
<message name="sanadRegisterResponse">
<part name="parameters" element="tns:sanadRegisterResponse"></part>
</message>
<message name="createCredit">
<part name="parameters" element="tns:createCredit"></part>
</message>
<message name="createCreditResponse">
<part name="parameters" element="tns:createCreditResponse"></part>
</message>
<message name="createDebit">
<part name="parameters" element="tns:createDebit"></part>
</message>
<message name="createDebitResponse">
<part name="parameters" element="tns:createDebitResponse"></part>
</message>
<message name="payByACH">
<part name="parameters" element="tns:payByACH"></part>
</message>
<message name="payByACHResponse">
<part name="parameters" element="tns:payByACHResponse"></part>
</message>
<message name="getRemainingCrediteForQarardadAqsati">
<part name="parameters" element="tns:getRemainingCrediteForQarardadAqsati"></part>
</message>
<message name="getRemainingCrediteForQarardadAqsatiResponse">
<part name="parameters" element="tns:getRemainingCrediteForQarardadAqsatiResponse"></part>
</message>
<message name="payByAzMahaleTablighatForElhaghie">
<part name="parameters" element="tns:payByAzMahaleTablighatForElhaghie"></part>
</message>
<message name="payByAzMahaleTablighatForElhaghieResponse">
<part name="parameters" element="tns:payByAzMahaleTablighatForElhaghieResponse"></part>
</message>
<message name="estelamVaziateBedehiVaEtebar">
<part name="parameters" element="tns:estelamVaziateBedehiVaEtebar"></part>
</message>
<message name="estelamVaziateBedehiVaEtebarResponse">
<part name="parameters" element="tns:estelamVaziateBedehiVaEtebarResponse"></part>
</message>
<message name="feedbackCredebit">
<part name="parameters" element="tns:feedbackCredebit"></part>
</message>
<message name="feedbackCredebitResponse">
<part name="parameters" element="tns:feedbackCredebitResponse"></part>
</message>
<portType name="BitartsWebService">
<operation name="isSuspended">
<input message="tns:isSuspended"></input>
<output message="tns:isSuspendedResponse"></output>
</operation>
<operation name="authenticate">
<input message="tns:authenticate"></input>
<output message="tns:authenticateResponse"></output>
</operation>
<operation name="getDebtOfPolicy">
<input message="tns:getDebtOfPolicy"></input>
<output message="tns:getDebtOfPolicyResponse"></output>
</operation>
<operation name="vaziatVosoolShenase">
<input message="tns:vaziatVosoolShenase"></input>
<output message="tns:vaziatVosoolShenaseResponse"></output>
</operation>
<operation name="estelamBashgah">
<input message="tns:estelamBashgah"></input>
<output message="tns:estelamBashgahResponse"></output>
</operation>
<operation name="generateCustomerNumber">
<input message="tns:generateCustomerNumber"></input>
<output message="tns:generateCustomerNumberResponse"></output>
</operation>
<operation name="getNamayandehAuthorized">
<input message="tns:getNamayandehAuthorized"></input>
<output message="tns:getNamayandehAuthorizedResponse"></output>
</operation>
<operation name="getNamayandehAuthorizedJSON">
<input message="tns:getNamayandehAuthorizedJSON"></input>
<output message="tns:getNamayandehAuthorizedJSONResponse"></output>
</operation>
<operation name="deleteAghsat">
<input message="tns:deleteAghsat"></input>
<output message="tns:deleteAghsatResponse"></output>
</operation>
<operation name="createDebitJSON">
<input message="tns:createDebitJSON"></input>
<output message="tns:createDebitJSONResponse"></output>
</operation>
<operation name="createCreditJSON">
<input message="tns:createCreditJSON"></input>
<output message="tns:createCreditJSONResponse"></output>
</operation>
<operation name="payByAzMahaleTablighat">
<input message="tns:payByAzMahaleTablighat"></input>
<output message="tns:payByAzMahaleTablighatResponse"></output>
</operation>
<operation name="getGhestForUSSDSanam">
<input message="tns:getGhestForUSSDSanam"></input>
<output message="tns:getGhestForUSSDSanamResponse"></output>
</operation>
<operation name="sanadRegisterJSON">
<input message="tns:sanadRegisterJSON"></input>
<output message="tns:sanadRegisterJSONResponse"></output>
</operation>
<operation name="payByHesabFiMaBeyn">
<input message="tns:payByHesabFiMaBeyn"></input>
<output message="tns:payByHesabFiMaBeynResponse"></output>
</operation>
<operation name="updateShomareBimename">
<input message="tns:updateShomareBimename"></input>
<output message="tns:updateShomareBimenameResponse"></output>
</operation>
<operation name="amountOfShenasePardakhtSanam">
<input message="tns:amountOfShenasePardakhtSanam"></input>
<output message="tns:amountOfShenasePardakhtSanamResponse"></output>
</operation>
<operation name="checkForTalighKhesarat">
<input message="tns:checkForTalighKhesarat"></input>
<output message="tns:checkForTalighKhesaratResponse"></output>
</operation>
<operation name="createRecoveryForVehicle">
<input message="tns:createRecoveryForVehicle"></input>
<output message="tns:createRecoveryForVehicleResponse"></output>
</operation>
<operation name="getSoratVaziateMaliBimename">
<input message="tns:getSoratVaziateMaliBimename"></input>
<output message="tns:getSoratVaziateMaliBimenameResponse"></output>
</operation>
<operation name="queryRemainingWithIdentifier">
<input message="tns:queryRemainingWithIdentifier"></input>
<output message="tns:queryRemainingWithIdentifierResponse"></output>
</operation>
<operation name="queryRemainingWithTraceCode">
<input message="tns:queryRemainingWithTraceCode"></input>
<output message="tns:queryRemainingWithTraceCodeResponse"></output>
</operation>
<operation name="createHavaleKhesarat">
<input message="tns:createHavaleKhesarat"></input>
<output message="tns:createHavaleKhesaratResponse"></output>
</operation>
<operation name="payByHesabFiMaBeynForElhaghie">
<input message="tns:payByHesabFiMaBeynForElhaghie"></input>
<output message="tns:payByHesabFiMaBeynForElhaghieResponse"></output>
</operation>
<operation name="amountOfShenasePardakht">
<input message="tns:amountOfShenasePardakht"></input>
<output message="tns:amountOfShenasePardakhtResponse"></output>
</operation>
<operation name="queryRemainingWithShenase">
<input message="tns:queryRemainingWithShenase"></input>
<output message="tns:queryRemainingWithShenaseResponse"></output>
</operation>
<operation name="payByCash">
<input message="tns:payByCash"></input>
<output message="tns:payByCashResponse"></output>
</operation>
<operation name="payByFish">
<input message="tns:payByFish"></input>
<output message="tns:payByFishResponse"></output>
</operation>
<operation name="payByPOS">
<input message="tns:payByPOS"></input>
<output message="tns:payByPOSResponse"></output>
</operation>
<operation name="payByCheck">
<input message="tns:payByCheck"></input>
<output message="tns:payByCheckResponse"></output>
</operation>
<operation name="estelamBedehi">
<input message="tns:estelamBedehi"></input>
<output message="tns:estelamBedehiResponse"></output>
</operation>
<operation name="payByInternet">
<input message="tns:payByInternet"></input>
<output message="tns:payByInternetResponse"></output>
</operation>
<operation name="sanadRegister">
<input message="tns:sanadRegister"></input>
<output message="tns:sanadRegisterResponse"></output>
</operation>
<operation name="createCredit">
<input message="tns:createCredit"></input>
<output message="tns:createCreditResponse"></output>
</operation>
<operation name="createDebit">
<input message="tns:createDebit"></input>
<output message="tns:createDebitResponse"></output>
</operation>
<operation name="payByACH">
<input message="tns:payByACH"></input>
<output message="tns:payByACHResponse"></output>
</operation>
<operation name="getRemainingCrediteForQarardadAqsati">
<input message="tns:getRemainingCrediteForQarardadAqsati"></input>
<output message="tns:getRemainingCrediteForQarardadAqsatiResponse"></output>
</operation>
<operation name="payByAzMahaleTablighatForElhaghie">
<input message="tns:payByAzMahaleTablighatForElhaghie"></input>
<output message="tns:payByAzMahaleTablighatForElhaghieResponse"></output>
</operation>
<operation name="estelamVaziateBedehiVaEtebar">
<input message="tns:estelamVaziateBedehiVaEtebar"></input>
<output message="tns:estelamVaziateBedehiVaEtebarResponse"></output>
</operation>
<operation name="feedbackCredebit">
<input message="tns:feedbackCredebit"></input>
<output message="tns:feedbackCredebitResponse"></output>
</operation>
</portType>
<binding name="BitartsWebServicePortBinding" type="tns:BitartsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="isSuspended">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDebtOfPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vaziatVosoolShenase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="estelamBashgah">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="generateCustomerNumber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNamayandehAuthorized">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNamayandehAuthorizedJSON">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteAghsat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createDebitJSON">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCreditJSON">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByAzMahaleTablighat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGhestForUSSDSanam">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sanadRegisterJSON">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByHesabFiMaBeyn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateShomareBimename">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="amountOfShenasePardakhtSanam">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkForTalighKhesarat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createRecoveryForVehicle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSoratVaziateMaliBimename">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryRemainingWithIdentifier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryRemainingWithTraceCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createHavaleKhesarat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByHesabFiMaBeynForElhaghie">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="amountOfShenasePardakht">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryRemainingWithShenase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByCash">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByFish">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByPOS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByCheck">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="estelamBedehi">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByInternet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sanadRegister">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCredit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createDebit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByACH">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRemainingCrediteForQarardadAqsati">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payByAzMahaleTablighatForElhaghie">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="estelamVaziateBedehiVaEtebar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="feedbackCredebit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BitartsWebService">
<port name="BitartsWebServicePort" binding="tns:BitartsWebServicePortBinding">
<soap:address location="http://172.16.0.28:8090/services/BitartsWebService"></soap:address>
</port>
</service>
</definitions>